.body{
    background-color: #Efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.publish_btn{
    float: right;
    margin-bottom: 15px
}
.text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}